* {
    padding: 0;
    margin: 0;
    font-family: "新宋体";
}

#content {
    margin: 20px 60px;
}

.h3 {
    height: 32px;
    line-height: 32px;
    background-color: rgb(225, 226, 227);
    padding-left: 10px;
    position: relative;
}

.h3 .lab {
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url("../img/slidebuttons.png") left center;
    vertical-align: text-bottom;
    position: absolute;
    right: 10px;
    top: 6px;
}

#content h1 {
    height: 40px;
    line-height: 40px;
}

#content h1 img {
    vertical-align: text-bottom;
}

#content .top {
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin: 20px 0;
    box-shadow: 0px 5px 10px #afaeae;
    border: 1px #AEAEAE solid;
}

#content .top .top-content {
    width: 98%;
    margin: 10px;
}

#content .top .top-content .add {
    width: 110px;
    border: 1px rgb(208, 210, 212) solid;
    border-radius: 5px;
    text-align: center;
    margin: 0 6px;
}

#content .top .top-content .add img {
    padding: 5px;
}

#content .top .top-content .add:hover {
    background-color: rgb(219, 220, 222);
    border: 1px #000000 solid;
}

#content .bottom {
    width: 100%;
}

#content .bottom {
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 5px 10px #afaeae;
}

#content .bottom .bottom-content table {
    width: 99%;
    margin: 5px;
}

#content .bottom .bottom-content table tbody{
    font-size: 13px;
}

#content .bottom .bottom-content table tbody tr:nth-child(2n-1) {
    background-color: rgb(240, 240, 240);
}

#content .bottom .bottom-content table tbody tr:hover {
    background-color: rgb(234, 234, 234);
}

#content .bottom .bottom-content table tbody tr td a {
    color: rgb(5, 117, 204);
    text-decoration: underline;
}

#content .bottom .bottom-content table tbody tr td a:hover {
    color: black;
}
td,
th {
    height: 30px;
    border-bottom: 1px rgb(218, 218, 218) solid;
}

th {
    text-align: left;
}